<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Better Days Weekly</title>
</head>
<body>
<main>
	<h1>Who are we?</h1>
	<list>
		<li>Max Silvers</li>
		<li>David Elbaz</li>
	</list>
</main>
</body>
</html>